<!-- register.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registrarse </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>

    <div class="container">
        <!-- 📌 Mensajes Flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}


    <div class="login-container">
        <h1> Registrarse </h1>
    
        <form action="/register" method="POST">

            <!-- Campo de nombre -->
            <label for="username"> Nombre de usuario </label>
            <input type="text" id="username" name="username" required>

            <!-- Campo de email -->
            <label for="email"> Correo Electrónico </label>
            <input type="email" id="email" name="email" placeholder="Optional"> 

            <!-- Campo de contraseña -->
            <label for="password"> Contraseña </label>
            <input type="password" id="password" name="password" required>

            <!-- Campo de confirmar contraseña -->
            <label for="confirm_password"> Confirmar Contraseña </label>
            <input type="password" id="confirm_password" name="confirm_password" required>

            <!-- Mostrar el checkbox si no hay administradores -->
            {% if not administrador_existente %}
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
                <label class="form-check-label" for="is_admin"> Registrar como administrador </label>
            </div>
            {% else %}
                <!-- El checkbox no se mostrará si ya existe un administrador  -->
                <p> No se puede registrar como administrador. Ya existe un administrador. </p>
            {% endif %}

            <br>

                <!-- Campo para registrar como administrador -->
            <!-- <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
                <label class="form-check-label" for="is_admin"> Registrar como administrador </label>
            </div> <br> -->

            <!-- Botón de enviar formulario -->
            <button type="submit" class="btn"> Registrarse </button>
        </form>
        
        <p><a href="/login"> ¿Ya tienes una cuenta? Inicia sesión </a></p>
    </div>
</body>
</html>
